html {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  width: 100%;
  height: 100% ;
}

#main { 
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

#main { 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
  
  form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 551px;
    height: auto;
    border: #e2e2e254 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.11);
  }
  
  form>ul>li:nth-of-type(1) {
    margin-bottom: 50px;
  }
  
  li:nth-of-type(2) {
    margin-bottom: 10px;
  }
  li:nth-of-type(3) {
    margin-bottom: 30px;
  }
  
  h1 {
    color: #696eff;
    font-size: 37px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    line-height: 0;
    text-align: center;
  }
  
  label {
    font-size: 18px;
    display: block;
    margin: 25px;
    text-align: left;
    color: #6d6d6d;
  }
  
  input {
    display:block;
    border: rgb(0,0,0,.2) 1px solid;
    width: 493px;
    height: 60px;
    font-size: 18px;
    
    border-radius: 10px;
    margin: auto;
    padding-left:10px;
  }
  
  input:focus {
    outline: none;
    border-color: #696eff;
  }
  
  div {
    display: flex;
  }
  
  .info {
    padding: 21px;
    padding-top: 0;
  }
  
  #name {
    width: 200px;
  }
  
  #sex {
    width: 80px;
    height: 64px;
    margin-left: 21px;
    margin-right: 21px;
    border: rgb(0,0,0,.2) 1px solid;
    border-radius: 10px;
  }
  
  .s-label {
    margin-left:3px;
  }
  
  #date {
    width: 164px;
    height: 62px;
  }

  .errmsg {
    font-size: 14px;
    display: none;
    margin-left: 25px;
    margin-top: 17px;
    margin-bottom: 30px;
    text-align: left;
    color: red;
  }

  .errmsg_opt {
    font-size: 14px;
    display: none;
    margin-top: 17px;
    margin-left: 3px;
    margin-bottom: 30px;
    text-align: left;
    color: red;
  }
  
  #button {
    text-align: center;
    padding-top: 100px;
    width: 503px;
    height: 60px;
    padding: 0;
    margin-left: 24px; 
    line-height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #696eff;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
    
  #button:hover {
    cursor:pointer;
    background-color: #4d53fd;
  }
