<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>핼로</title>
    <meta name="viewport" content="width=device-width,initial-scale=0.6, user-scalable=no">

    <link rel="stylesheet" href="/css/home/index.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="main">
        <form action="">
            <h1>안녕하세요.</h1>
            <p>로그인을 해주세요.</p>
            <a href="/login"><p id="button">로그인</p></a>
            <!--button type default값 = "submit"-->
        </form>
    </div>
    
</body>

</html>