<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>사용자</title>
    <meta name="viewport" content="width=device-width,initial-scale=0.6, user-scalable=no">

    <link rel="stylesheet" href="/css/home/indexon.css">
    <script src="/js/home/indexon.js" defer></script>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="main">
        <form action="">
            <h1>환영합니다. <%= name %>님!</h1>
            <p>이메일: <%= email%></p>
            <a href="/logout"><p id="button">로그아웃</p></a>
            <!--button type default값 = "submit"-->
        </form>
    </div>
    
</body>

</html>