<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width,initial-scale=0.6, user-scalable=no">

    <link rel="stylesheet" href="/css/home/registerSuccess.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="main">
        <form action="">
            <h1>환영합니다!</h1>
            <p>회원가입이 완료되었습니다.</p>
            <a href="/"><p id="button">시작하기</p></a>
            <!--button type default값 = "submit"-->
        </form>
    </div>
</body>

</html>